@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  width: 100%;
}

.hero {
  background-color: #f14668;
  width: 100%;
}

.hero-title-box{
  padding: 9rem 4.5rem;
}

